In [12]:
import statsmodels.api as sm
df = sm.datasets.grunfeld.load_pandas().data

In [13]:
type(df)

pandas.core.frame.DataFrame

In [16]:
type(df['invest'])

pandas.core.series.Series

In [17]:
df['invest'].describe()

count     220.000000
mean      133.311900
std       210.587186
min         0.930000
25%        27.380000
50%        52.365000
75%        99.782500
max      1486.700000
Name: invest, dtype: float64

In [21]:
df.describe()

            invest        value      capital         year
count   220.000000   220.000000   220.000000   220.000000
mean    133.311900   988.577805   257.108541  1944.500000
std     210.587186  1287.301172   293.227914     5.779431
min       0.930000    30.284000     0.800000  1935.000000
25%      27.380000   160.325000    67.100000  1939.750000
50%      52.365000   404.650000   180.100000  1944.500000
75%      99.782500  1605.925000   344.500000  1949.250000
max    1486.700000  6241.700000  2226.300000  1954.000000

In [22]:
df.columns

Index(['invest', 'value', 'capital', 'firm', 'year'], dtype='object')

In [24]:
df['firm']

0      General Motors
1      General Motors
2      General Motors
3      General Motors
4      General Motors
            ...
215    American Steel
216    American Steel
217    American Steel
218    American Steel
219    American Steel
Name: firm, Length: 220, dtype: object

In [25]:
df['value']

0      3078.500
1      4661.700
2      5387.100
3      2792.200
4      4313.200
         ...
215      36.494
216      46.082
217      57.616
218      57.441
219      47.165
Name: value, Length: 220, dtype: float64

In [181]:
df['value'] = df['value'].apply(str)  # sometimes data might -look- like int or float but it's actually not

In [182]:
df['value']  # and then of course, we can't do the same operations on str as we can on int or float, so this raises issues

0      3078.5
1      4661.7
2      5387.1
3      2792.2
4      4313.2
        ...
215    36.494
216    46.082
217    57.616
218    57.441
219    47.165
Name: value, Length: 220, dtype: object

In [30]:
df['value'][0]==3078.5

False

In [31]:
df.describe()  # describe() will only print summary stats for non-object columns (so, firm and our messed up 'value' wont print)

            invest      capital         year
count   220.000000   220.000000   220.000000
mean    133.311900   257.108541  1944.500000
std     210.587186   293.227914     5.779431
min       0.930000     0.800000  1935.000000
25%      27.380000    67.100000  1939.750000
50%      52.365000   180.100000  1944.500000
75%      99.782500   344.500000  1949.250000
max    1486.700000  2226.300000  1954.000000

In [188]:
# some more practice with lists
import random
list_x = [random.normalvariate(0,1) for n in range(0,100)]

In [189]:
list_x.append('problematic element of list')

In [190]:
list_x[-5:]  # print the last 5 elements

[0.12561238599373625,
 1.6542945610830517,
 -0.22828213341281026,
 0.8129067371758608,
 'problematic element of list']

In [191]:
list_x.extend([1,2,3,4])  # add more values

In [192]:
list_x[-10:]

[-1.9036581508224513,
 0.12561238599373625,
 1.6542945610830517,
 -0.22828213341281026,
 0.8129067371758608,
 'problematic element of list',
 1,
 2,
 3,
 4]

In [63]:
list_y = [3,53,74,37,555]
list_z = [1,2,3,4,5]

In [64]:
for i,j in zip(list_y,list_z):  # run through two lists together
    print(i,j)

3 1
53 2
74 3
37 4
555 5

In [56]:
list_y[1:]

[53, 74, 37, 555]

In [68]:
for idx, i in enumerate(list_y):
    print(idx)

0
1
2
3
4

In [49]:
for idx, y in enumerate(list_y):
    print(idx, y)

0 3
1 53
2 74
3 37

In [193]:
for tuple_idx in enumerate(list_y):  # enumerate expects two variable names; if you only give it one it'll return a tuple:
    print(tuple_idx)

(0, 3)
(1, 53)
(2, 74)
(3, 37)
(4, 555)

In [ ]:
# in writing our own functions and classes, we saw a few important concepts:
# raising custom errors
# docstrings 
# in general, thinking about how users might break functionality, and how to protect against it



# try-except clause is useful for allowing the user to continue to do something even if they produce an error

In [196]:
test_sum = 0

for idx, x in enumerate(list_x):
    if idx>95:  # don't want to print all of them out
        print(idx, x)
        try:
            test_sum +=x  
        except TypeError:
            print('Warning: there\'s a TypeError occurring. Do you have any strings in the list?')
# notice that the warning prints, but the loop continues, and the test_sum just computes using all valid values and ignores
# bad ones. This is just like how pandas' .describe() method will skip columns that can't have summary statistics generated!

96 0.12561238599373625
97 1.6542945610830517
98 -0.22828213341281026
99 0.8129067371758608
100 problematic element of list
Warning: there's a TypeError occurring. Do you have any strings in the list?
101 1
102 2
103 3
104 4

In [197]:
# back to pandas, for a final look at some important functionality
import statsmodels.api as sm
df = sm.datasets.grunfeld.load_pandas().data

In [198]:
import pandas as pd

In [199]:
df = pd.read_csv(r'C:\Users\ethan\Documents\Workshop FA2022\grunfeld.csv')

In [200]:
df

     Unnamed: 0   invest     value  capital            firm    year
0             0  317.600  3078.500    2.800  General Motors  1935.0
1             1  391.800  4661.700   52.600  General Motors  1936.0
2             2  410.600  5387.100  156.900  General Motors  1937.0
3             3  257.700  2792.200  209.200  General Motors  1938.0
4             4  330.800  4313.200  203.400  General Motors  1939.0
..          ...      ...       ...      ...             ...     ...
215         215    4.770    36.494   75.847  American Steel  1950.0
216         216    6.532    46.082   77.367  American Steel  1951.0
217         217    7.329    57.616   78.631  American Steel  1952.0
218         218    9.020    57.441   80.215  American Steel  1953.0
219         219    6.281    47.165   83.788  American Steel  1954.0

[220 rows x 6 columns]

In [201]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [202]:
df

      invest     value  capital            firm    year
0    317.600  3078.500    2.800  General Motors  1935.0
1    391.800  4661.700   52.600  General Motors  1936.0
2    410.600  5387.100  156.900  General Motors  1937.0
3    257.700  2792.200  209.200  General Motors  1938.0
4    330.800  4313.200  203.400  General Motors  1939.0
..       ...       ...      ...             ...     ...
215    4.770    36.494   75.847  American Steel  1950.0
216    6.532    46.082   77.367  American Steel  1951.0
217    7.329    57.616   78.631  American Steel  1952.0
218    9.020    57.441   80.215  American Steel  1953.0
219    6.281    47.165   83.788  American Steel  1954.0

[220 rows x 5 columns]

In [203]:
df['capital_sqd'] = df['capital']**2

In [204]:
df.to_csv(r'C:\Users\ethan\Documents\Workshop FA2022\grunfeld_modified.csv')  # this is how you would -write- to a .csv file!
# you can of course now read the file in from your local computer location with read_csv

In [205]:
# grunfeld is at the firm-year level
df['firm'].value_counts()  # 20 obs for each firm

General Motors       20
US Steel             20
General Electric     20
Chrysler             20
Atlantic Refining    20
IBM                  20
Union Oil            20
Westinghouse         20
Goodyear             20
Diamond Match        20
American Steel       20
Name: firm, dtype: int64

In [206]:
df2 = df.groupby(['firm'])[['capital']].agg('mean')  # creates a new DataFrame, aggregating mean capital at firm-level

In [208]:
df2.reset_index(inplace=True)  # 'flattens' the dataframe so it's easier to index into

In [209]:
df2

                 firm    capital
0      American Steel   68.02245
1   Atlantic Refining  486.76500
2            Chrysler  121.24500
3       Diamond Match    5.94150
4    General Electric  400.16000
5      General Motors  648.43500
6            Goodyear  297.90000
7                 IBM  104.28500
8            US Steel  294.85500
9           Union Oil  314.94500
10       Westinghouse   85.64000

In [210]:
df2.rename(columns={'capital':'agg_capital'}, inplace=True)

In [211]:
df2

                 firm  agg_capital
0      American Steel     68.02245
1   Atlantic Refining    486.76500
2            Chrysler    121.24500
3       Diamond Match      5.94150
4    General Electric    400.16000
5      General Motors    648.43500
6            Goodyear    297.90000
7                 IBM    104.28500
8            US Steel    294.85500
9           Union Oil    314.94500
10       Westinghouse     85.64000

In [212]:
df.merge(df2,on='firm',suffixes=('','_agg'))  # note that the suffix for df2 doesn't actually show up

,invest,value,capital,firm,year,capital_sqd,agg_capital
0,317.600,3078.500,2.800,General Motors,1935.0,7.840000,648.43500
1,391.800,4661.700,52.600,General Motors,1936.0,2766.760000,648.43500
2,410.600,5387.100,156.900,General Motors,1937.0,24617.610000,648.43500
3,257.700,2792.200,209.200,General Motors,1938.0,43764.640000,648.43500
4,330.800,4313.200,203.400,General Motors,1939.0,41371.560000,648.43500
...,...,...,...,...,...,...,...
215,4.770,36.494,75.847,American Steel,1950.0,5752.767409,68.02245
216,6.532,46.082,77.367,American Steel,1951.0,5985.652689,68.02245
217,7.329,57.616,78.631,American Steel,1952.0,6182.834161,68.02245
218,9.020,57.441,80.215,American Steel,1953.0,6434.446225,68.02245
219,6.281,47.165,83.788,American Steel,1954.0,7020.428944,68.02245

In [213]:
df2.rename(columns={'agg_capital':'capital'}, inplace=True)  # if df2 had the same named column as df1...
df.merge(df2,on='firm',suffixes=('','_agg'))  # now it will use the suffix to protect against duplicate column names

,invest,value,capital,firm,year,capital_sqd,capital_agg
0,317.600,3078.500,2.800,General Motors,1935.0,7.840000,648.43500
1,391.800,4661.700,52.600,General Motors,1936.0,2766.760000,648.43500
2,410.600,5387.100,156.900,General Motors,1937.0,24617.610000,648.43500
3,257.700,2792.200,209.200,General Motors,1938.0,43764.640000,648.43500
4,330.800,4313.200,203.400,General Motors,1939.0,41371.560000,648.43500
...,...,...,...,...,...,...,...
215,4.770,36.494,75.847,American Steel,1950.0,5752.767409,68.02245
216,6.532,46.082,77.367,American Steel,1951.0,5985.652689,68.02245
217,7.329,57.616,78.631,American Steel,1952.0,6182.834161,68.02245
218,9.020,57.441,80.215,American Steel,1953.0,6434.446225,68.02245
219,6.281,47.165,83.788,American Steel,1954.0,7020.428944,68.02245

In [214]:
df['value_agg'] = df.groupby(['firm'])['value'].transform('mean')

In [215]:
import numpy as np

In [216]:
df.loc[df['firm']=='General Motors', 'invest'] = np.nan  # replace GM invest data with NaN (missing values) for pratice

In [218]:
df['invest'][0]

nan

In [219]:
np.nan == np.nan  # looking for the condition 'dataframe value equals np.nan' won't work

False

In [124]:
pd.isnull(df['invest'])  # this is how you find np.nan with pandas

0       True
1       True
2       True
3       True
4       True
       ...
215    False
216    False
217    False
218    False
219    False
Name: invest, Length: 220, dtype: bool

In [220]:
df.isna().sum()

invest         20
value           0
capital         0
firm            0
year            0
capital_sqd     0
value_agg       0
dtype: int64

In [221]:
df.loc[df['firm']=='American Steel', 'invest'] = 'NA'  # a different kind of nan, a 'soft missing' value, technically a string

In [222]:
df.isna().sum()  # it doesn't show up here!

invest         20
value           0
capital         0
firm            0
year            0
capital_sqd     0
value_agg       0
dtype: int64

In [223]:
df.loc[df['invest'].isnull(),'invest'] = -1  # can replace the np.nan values

In [224]:
df.loc[df['invest']=='NA', 'invest'] = np.nan  # can set 'soft missing' values to true nan

In [225]:
df.isna().sum()

invest         20
value           0
capital         0
firm            0
year            0
capital_sqd     0
value_agg       0
dtype: int64

In [226]:
df

,invest,value,capital,firm,year,capital_sqd,value_agg
0,-1,3078.500,2.800,General Motors,1935.0,7.840000,4333.84500
1,-1,4661.700,52.600,General Motors,1936.0,2766.760000,4333.84500
2,-1,5387.100,156.900,General Motors,1937.0,24617.610000,4333.84500
3,-1,2792.200,209.200,General Motors,1938.0,43764.640000,4333.84500
4,-1,4313.200,203.400,General Motors,1939.0,41371.560000,4333.84500
...,...,...,...,...,...,...,...
215,NaN,36.494,75.847,American Steel,1950.0,5752.767409,57.54485
216,NaN,46.082,77.367,American Steel,1951.0,5985.652689,57.54485
217,NaN,57.616,78.631,American Steel,1952.0,6182.834161,57.54485
218,NaN,57.441,80.215,American Steel,1953.0,6434.446225,57.54485
219,NaN,47.165,83.788,American Steel,1954.0,7020.428944,57.54485

In [228]:
df = pd.read_csv(r'C:\Users\ethan\Documents\Workshop FA2022\grunfeld.csv')
df.loc[df['year']!=1939, 'capital'] = np.nan  # what if we only had 1939's capital data and wanted to use it for other years?
# we can use some simple methods like fillna(), but I want to show you a more complex way because of its versatility elsewhere

In [229]:
df2 = df.sample(frac=1.0, random_state=42)  # sample 100% of df (shuffle it)

In [230]:
df2

     Unnamed: 0  invest    value  capital               firm    year
132         132   48.51   119.40      NaN          Union Oil  1947.0
148         148   37.02   617.20      NaN       Westinghouse  1943.0
93           93   70.34   224.50      NaN  Atlantic Refining  1948.0
180         180    2.54    70.91      NaN      Diamond Match  1935.0
15           15  642.90  3755.60      NaN     General Motors  1950.0
..          ...     ...      ...      ...                ...     ...
106         106   43.41   276.90      NaN                IBM  1941.0
14           14  555.10  3700.20      NaN     General Motors  1949.0
92           92   58.02   249.00      NaN  Atlantic Refining  1947.0
179         179   49.34   474.50      NaN           Goodyear  1954.0
102         102   25.94   223.10      NaN                IBM  1937.0

[220 rows x 6 columns]

In [141]:
df.sort_values(by = ['firm','year'], inplace=True)  # first we need to sort the data

In [142]:
df

    invest     value  capital            firm    year   capital_sqd  value_agg
200     -1    30.284      NaN  American Steel  1935.0   2705.144121   57.54485
201     -1    43.909      NaN  American Steel  1936.0   2798.727409   57.54485
202     -1   107.020      NaN  American Steel  1937.0   2970.141001   57.54485
203     -1    68.306      NaN  American Steel  1938.0   3566.717284   57.54485
204     -1    84.164   61.659  American Steel  1939.0   3801.832281   57.54485
..     ...       ...      ...             ...     ...           ...        ...
155  32.24   635.200      NaN    Westinghouse  1950.0  18686.890000  670.91000
156  54.38   723.800      NaN    Westinghouse  1951.0  16822.090000  670.91000
157  71.78   864.100      NaN    Westinghouse  1952.0  21170.250000  670.91000
158  90.08  1193.500      NaN    Westinghouse  1953.0  30555.040000  670.91000
159   68.6  1188.900      NaN    Westinghouse  1954.0  45582.250000  670.91000

[220 rows x 7 columns]

In [231]:
df['capital'] = df.groupby(['firm'])['capital'].ffill()

In [232]:
df['capital'] = df.groupby(['firm'])['capital'].bfill()

In [233]:
df.head(50)  # now, every firm has capital filled out using their 1939 value

    Unnamed: 0  invest   value  capital              firm    year
0            0   317.6  3078.5    203.4    General Motors  1935.0
1            1   391.8  4661.7    203.4    General Motors  1936.0
2            2   410.6  5387.1    203.4    General Motors  1937.0
3            3   257.7  2792.2    203.4    General Motors  1938.0
4            4   330.8  4313.2    203.4    General Motors  1939.0
5            5   461.2  4643.9    203.4    General Motors  1940.0
6            6   512.0  4551.2    203.4    General Motors  1941.0
7            7   448.0  3244.1    203.4    General Motors  1942.0
8            8   499.6  4053.7    203.4    General Motors  1943.0
9            9   547.5  4379.3    203.4    General Motors  1944.0
10          10   561.2  4840.9    203.4    General Motors  1945.0
11          11   688.1  4900.9    203.4    General Motors  1946.0
12          12   568.9  3526.5    203.4    General Motors  1947.0
13          13   529.2  3254.7    203.4    General Motors  1948.0
14          14   555.1  3700.2    203.4    General Motors  1949.0
15          15   642.9  3755.6    203.4    General Motors  1950.0
16          16   755.9  4833.0    203.4    General Motors  1951.0
17          17   891.2  4924.9    203.4    General Motors  1952.0
18          18  1304.4  6241.7    203.4    General Motors  1953.0
19          19  1486.7  5593.6    203.4    General Motors  1954.0
20          20   209.9  1362.4    312.7          US Steel  1935.0
21          21   355.3  1807.1    312.7          US Steel  1936.0
22          22   469.9  2676.3    312.7          US Steel  1937.0
23          23   262.3  1801.9    312.7          US Steel  1938.0
24          24   230.4  1957.3    312.7          US Steel  1939.0
25          25   361.6  2202.9    312.7          US Steel  1940.0
26          26   472.8  2380.5    312.7          US Steel  1941.0
27          27   445.6  2168.6    312.7          US Steel  1942.0
28          28   361.6  1985.1    312.7          US Steel  1943.0
29          29   288.2  1813.9    312.7          US Steel  1944.0
30          30   258.7  1850.2    312.7          US Steel  1945.0
31          31   420.3  2067.7    312.7          US Steel  1946.0
32          32   420.5  1796.7    312.7          US Steel  1947.0
33          33   494.5  1625.8    312.7          US Steel  1948.0
34          34   405.1  1667.0    312.7          US Steel  1949.0
35          35   418.8  1677.4    312.7          US Steel  1950.0
36          36   588.2  2289.5    312.7          US Steel  1951.0
37          37   645.5  2159.4    312.7          US Steel  1952.0
38          38   641.0  2031.3    312.7          US Steel  1953.0
39          39   459.3  2115.5    312.7          US Steel  1954.0
40          40    33.1  1170.6    172.6  General Electric  1935.0
41          41    45.0  2015.8    172.6  General Electric  1936.0
42          42    77.2  2803.3    172.6  General Electric  1937.0
43          43    44.6  2039.7    172.6  General Electric  1938.0
44          44    48.1  2256.2    172.6  General Electric  1939.0
45          45    74.4  2132.2    172.6  General Electric  1940.0
46          46   113.0  1834.1    172.6  General Electric  1941.0
47          47    91.9  1588.0    172.6  General Electric  1942.0
48          48    61.3  1749.4    172.6  General Electric  1943.0
49          49    56.8  1687.2    172.6  General Electric  1944.0

In [171]:
import plotly.express as px  # fancy seaborn

In [179]:
px.scatter(df,'capital','value',color='firm')