# Day 1
<b>Summary.</b> We installed Anaconda, with which we launched a Jupyter Notebook, wherein we had our first look at Python. We covered (not necessarily in this order):
- Mathematical operations
- Primitive Object Types (integers, floats, strings, booleans)
- Collections (lists, sets, tuples, dictionaries)
- Basic built-in functions:
    - type()
    - isinstance() 
    - int(), float(), str(), 
    - print()
    - nested functions
- Logical tests:
    - equality and inequality
    - "and" and "or"
    - "in"
    - nested logic
- Conditionals:
    - if|elif|else
    - nested if|elif|else
- Loops:
    - "for"
    - "while"
    - "break"

In [1]:
# using a hash begins an in-line comment
# let's do some basic math
2 + 4  # should return 6. By the way, you can start a comment -after- some in-line code, and the code will still execute

6

In [2]:
# Jupyter is being nice to us by automatically printing 6, but if we run a bigger code block we see that we only get the
# last output.
2 + 4
5 + 3
1 + 6

7

In [5]:
# let's make sure we print all of these with the print() function (built-in, it's a default Python function)
print(2 + 4)
print(5 + 3)
print(1 + 6)
print(2+4)  # whitespace doesn't matter for math

6
8
7
6

In [7]:
print(2*4)  # should return 8
print(8/3)  # ~2.67
print(8//3)  # integer division, returns 2 (3 goes into 8, 2 times)
print(8%2)  # 8 modulo 2
print(8**2)  # 8 squared
print(8**(1/2))  # sqrt(8)

8
2.6666666666666665
2
0

In [8]:
# Python is an object-oriented programming language; everything is an "object." One "type" of object is an integer:
type(5)

int

In [10]:
# another type is a "float" (floating point number, allows decimal values):
type(5.0)

float

In [11]:
# another type is a "string", or text data:
type('hello!')  # use 'single quotes'  OR  "double quotes" to define a string

str

In [13]:
# you can do math "safely" between floats and integers:
print(5 - 3.0)  # sets it to a float
type(5 - 3.0)

2.0

float

In [14]:
# you can even do "math" on a set of strings, namely, concatenating them:
print("Hello " + "MSPE"  + "students!")  # I keep a space to end the first two strings, otherwise it's all smushed together

'hello MSPE students!'

In [15]:
# if you want to include an apostrophe inside your string, use \
print('This isn\'t too strange!')

"This isn't too strange!"

In [16]:
# or, just use double quotes to define the string:
print("This isn't too strange either!")

"This isn't too strange!"

In [19]:
# what if you want both apostrophes and double quotes to print out?
print('"This isn\'t very strange," he says.')

"This isn't very strange," he says.

In [20]:
# in a block of code, we might encounter an error. Let's dissect how to read one:
3+76
7-4
3+'5.0'  # this line will cause an error; we can't add an integer and a string
8*2
8+1.0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<b>Regarding the TypeError above.</b> The "TypeError" tells us that one of the objects' data type (uncovered by using the <code>type()</code> function) does not work. In this case, it tells us one of the two types "int" or "str" are causing problems, on line 4 specifically.

In [22]:
# We can force an object to be of a different "type", which is useful in cases like above where we want the string
# '5.0' to act like a float or integer
3+float('5.0')

8.0

In [23]:
# careful, though; forcing a float to become an integer destroys information:
int(3.6)

3

In [24]:
# let's create a variable and show what we can do with it. all it takes to create a variable is just to -name- it
x = 3.6
print(x)

3.6

In [25]:
x - 1

2.6

In [26]:
x*x

12.96

In [28]:
x-(x+x**2)  # order of operations matters

-12.960000000000003

In [29]:
# none of these are changing the value of x. if we want to modify x's value:
x = x-1
print(x)

2.6

In [30]:
# example: we want to do something with our variable x, but first it's important to verify that it's an integer
x = 5.6
if isinstance(x, float):  # "if x is a floating point number..."
    print('error: x should not be a float!')  # the indentation is -super- important; it tells us that the code that comes after
                                              # "if" has to do with the if-block specificially
elif isinstance(x, int):  # "otherwise, if x is an integer..."
    print("x is an integer!")
else:  # "otherwise..."
    print("x is something other than a float or integer!")

error: x should not be a float!

In [32]:
# next, note that it's possible for x to be a float, but for it's int() -converted equivalent to be the same thing, e.g. 5.0 ==5
# in that case, maybe we shouldn't be worried that x is a float, and just convert it!
# this is the same code as above, except that now we'll convert x to an int if it can safely be done w/o destroying information

# also, just for fun & readability, note that you can have whitespace lines
# (I don't think the code below is easier to read in practice; just saying in theory, sometimes whitespace is helpful)

x = 5.0

if isinstance(x, float):  
    print('error: x should not be a float!')
    if int(x)==x:
        print('however, x -can- safely be converted to an integer. so let\'s convert it.')
        x = int(x)
    # we don't need an else statement if we don't care about the conditions not covered by the "if" statement
    
elif isinstance(x, int):
    print("x is an integer!")
    
else:  # "otherwise..."
    print("x is something other than a float or integer!")

error: x should not be a float!
however, x -can- safely be converted to an integer. so let's convert it.

In [33]:
# if / elif / else statements rely on checking whether conditions are True or False. True and False are boolean values:
True

True

In [34]:
type(True)

bool

In [35]:
# binary, True == "on" == 1, and False == "off" == 0
True == 1

True

In [36]:
False == 0

True

In [38]:
True != False  # True does not equal false

True

In [40]:
5 >= 3  # 5 is greater than or equal to 3 (so it should return the boolean True)

True

In [41]:
type(5 >= 3)

bool

In [42]:
# conditions can be nested:
(5<3) or (5>4)  # true because of the second condition holding

True

In [43]:
(5<3) and (5>4)  # false because not all conditions are met

False

In [44]:
((5<3) and (5>4)) or (5>1)  # true; the compound condition on the left is False, but the right condition is True, so False 
                            # OR True == True

True

In [45]:
False or True

True

In [46]:
# so that's what the if condition was checking:
x = 5.0
isinstance(x, float)

True

In [57]:
3 < x < 6 >= x+1

True

In [48]:
# -collections- can store multiple other objects
# let's look at lists, which are basically vectors (ordered containers of objects)
my_list_x = [1,18,26.4,56.3,'five']  # you can have different object types in the same list
print(my_list_x)

[1, 18, 26.4, 56.3, 'five']

In [49]:
len(my_list_x)  # how many objects are in the list?

5

In [50]:
type(my_list_x)

list

In [51]:
# we can return an item from a specific "index" within the list by calling it's position (start counting from 0):
my_list_x[2]  # so not the 0th index, or the 1st, but the 2nd

26.4

In [52]:
# we can check whether values are in a container:
18.0 in my_list_x  # the -integer- 18 is in the list, but 18.0==18, so it returns True

True

In [54]:
18.1 in my_list_x

False

In [58]:
if 18.1 not in my_list_x:
    print('18.1 is not in my_list_x!')
else:
    print('18.1 is in my list_x!')

18.1 is not in my_list_x!

In [59]:
# sets store unique values, i.e. they shred duplicates:
set_x = {1,2,3,4,4,5}
list_x = [1,2,3,4,4,5]
print(set_x, list_x)

{1, 2, 3, 4, 5} [1, 2, 3, 4, 4, 5]

In [61]:
set_x[1]  # note that 'set' objects are not subscriptable; the order of elements in a set doesn't matter / can't be used in a 
          # way that matters by default, so you can't use indices to read specific values out of a set

TypeError: 'set' object is not subscriptable

In [72]:
# dictionaries are pairs of 'keys' and 'values'
# the 'key' is what you use to index into the dictionary, and it will return a value
dictionary_x = {'key1': 56, 'another_key': 73, 5: 'value for key equaling int 5'}
type(dictionary_x)

dict

In [73]:
dictionary_x['key1']

56

In [74]:
dictionary_x[5]

'value for key equaling int 5'

In [75]:
# collections can store other collections, e.g. a list can contain lists:
my_nested_list = [42, [1,2,3], [64,6], 53.2, 'why are the data like this']
print(my_nested_list)

[42, [1, 2, 3], [64, 6], 53.2, 'why are the data like this']

In [76]:
type(my_nested_list)

list

In [78]:
# often we want to automate / loop some portion of the workflow. 'for' loops repeat a process until a defined endpoint:
for n in range(0,10):  # for every arbitrary value n in this function that counts from 0,...,9, we'll do something
    print(n)

0
1
2
3
4
5
6
7
8
9

In [79]:
# we can nest conditions within loops:
for n in range(0,10):
    if n % 2 == 0:  # if n is even...
        print(n)

0
2
4
6
8

In [80]:
# or we can nest loops within conditions:
x = 37
if isinstance(x,int):
    for n in range(0,5):
        print("x is an integer!")

x is an integer!
x is an integer!
x is an integer!
x is an integer!
x is an integer!

In [81]:
# sometimes a loop might go longer than we'd like; we can implement a "break" condition to make it stop
for n in range(0,1000000):
    print(n)
    if n>100:
        break
# note that this loop will print from 0,...,101

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [82]:
for n in range(0,1000000):
    if n>100:
        break
    print(n)
# ... but this for loop prints from 0,100. Why?

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [84]:
for n in range(0,1000000):
    if n>100:
        break
print(n)
# why does this only print 101?

101

In [85]:
# "while" loops are like "for" loops, except that they have no defined endpoint
# "while" loops check whether a condition is met, and if so, execute the indented code
# "for" loops iterate through a collection until it reaches that collection's end
# this means they can -dangerously- continue for ever
# depending on what the code is doing (for example, adding synthetic data to a dataset), this can crash your computer. :)

counter = 0  # making a variable called "counter" to keep track of how many times this loop iterates:
while True:  # while it is the case that True == True (so... always)
    print(counter)
    counter = counter+1
    if counter > 10:  # this is your loop break criterion; set it to 1000 and see what happens
        break

0
1
2
3
4
5
6
7
8
9
10